extends layout

block content
  p Pentru a putea accesa reteaua de Internet, introduceti numarul de telefon mai jos:
  form(method='POST' action='/login')
    each value, key in fields
      if key.login
        if key.email
          label(for=value)=key.displayName
          input.form-control(type='email', placeholder=key.displayName, name=value, required, pattern=key.pattern) 
        if key.tel
          label(for=value)=key.displayName
          input.form-control(type='tel', placeholder=key.displayName, name=value, required, pattern=key.pattern) 
        else
          label(for=value)=key.displayName
          input.form-control(type='text', placeholder=key.displayName, name=value, required, pattern=key.pattern) 
   
      
    div.form-group
      button.btn.btn-default(type='submit') Conectare
        