extends layout

block content
  p=message
  form(method='POST' action='/login')
    each value, key in fields
      div.form-group
        if value.login
          if value.email
            label(for=key)=value.displayName
            input.form-control(type='email', placeholder=value.displayName, name=key, required, title=value.hint, pattern=value.regex) 
          else if value.tel
            label(for=value)=value.displayName
            input.form-control(type='tel', placeholder=value.displayName, name=key, required, title=value.hint, pattern=value.regex) 
          else
            label(for=value)=value.displayName
            input.form-control(type='text', placeholder=value.displayName, name=key, required, title=value.hint, pattern=value.regex) 
   
      
    div.form-group
      button.btn.btn-default(type='submit') Conectare
        