extends layout

block content
  h2 Inregistrare
  div.alert.alert-warning(role='alert')=message
  form(method='POST' action='register/submit')
    each value, key in fields
      div.form-group
        if value.email
          label(for=key)=value.displayName
          input.form-control(type='email', placeholder=value.displayName, name=key, required=value.required, title=value.hint, pattern=value.regex, value=autocompleteFields[key]) 
        else if value.tel
          label(for=key)=value.displayName
          input.form-control(type='tel', placeholder=value.displayName, name=key, required=value.required, title=value.hint, pattern=value.regex, value=autocompleteFields[key]) 
        else
          label(for=key)=value.displayName
          input.form-control(type='text', placeholder=value.displayName, name=key, required=value.required, title=value.hint, pattern=value.regex, value=autocompleteFields[key]) 
    div.form-group
      button.btn.btn-default(type='submit') Conectare
        